rs-grid {
	display : grid;
}

rs-button .rs-button:not(:hover) {
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}

rs-button .rs-button:hover {
	transform: scale(1.02);
	transition: all 0.3s ease-in-out;
}

@keyframes rs-button-clicked {
	0% { transform: scale(1.02); }
	50% { transform: scale(1.01); }
	100% { transform: scale(1.02); }
}

rs-button .rs-button:active {
	animation: rs-button-clicked 0.3s;
}

.admonition.rs-button {
	margin : 0;
	display : inherit;
}

input {
	width : 100%;
	padding : .4rem;
	border : solid .075rem;
	border-radius : .2rem;
	border-color : #999999;
	background-color : #9999991a;
	font-weight : 600;
	margin : .5rem 0;
}

input:focus {
	box-shadow : 0 0 0 .2rem #9999991a;
}

.md-typeset .grid-display {
	display : grid;
	grid-gap : .5em;
}

.md-typeset .grid-display .admonition,.md-typeset .grid-display details {
	margin : 0;
}

.md-typeset .grid-cell,.md-typeset .grid-cell p {
	display : inherit;
}